.DS_Store
.ideas/
.vscode/
/bin/
/docs/node_modules
/example_project/
/example_projects/
/test_project/
/test_projects/
/lib/
/.shards/
/coverage/
/run_tests
*.dwarf
.icr_*
*.db
/shard.lock
/docs/src/.vuepress/dist
/docs/src/.vuepress/public/ref
