name: CI

on:
  push:
    branches:
      - "*"
      - "*/*"
  pull_request:
    branches:
      - "*"
      - "*/*"
  schedule:
    - cron: '0 0 * * *'

jobs:
  specs:
    strategy:
      fail-fast: false
      matrix:
        crystal:
          - latest
          - nightly
          - 1.17.0
          - 1.18.1
          - 1.19.0
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:${{ matrix.crystal }}
    steps:
    - uses: actions/checkout@v2
    - name: Install shards
      run: shards install --ignore-crystal-version --skip-postinstall --skip-executables
    - name: Run tests
      run: make tests
